@charset "utf-8";
/* CSS Document */
.first{
	display:flex;
	flex-direction:column;
	font-size:12px;
	width:100%;
	height:100%;
	}
.title{
	background-color:#D6E5F9;
	padding:5px;
	border:1px solid #C2D1E0;
	font-weight:bold;}
.info{
	background-color:#F5F5F5;
	border:1px solid #9F9F9F;}
.put{
	float:right;}
td{
	width:30%;
	padding:5px;
	overflow:hidden;
	word-break:keep-all;
	text-overflow:ellipsis;
	border:1px solid #E0E0E0;
	text-align:center;}
.serial{
	width:10px;}
.table_1{
	padding:10px 5px;}
.table_2{
	overflow:auto;}
img{
	vertical-align:middle;
	padding:0px 5px;
	}

