@charset "utf-8";
/* CSS Document */
#first{
	width:100%;
	display:flex;
	flex-direction:column;
	font-size:12px;
	padding:10px;}
.info{
	width:100%;}
.title{
	background-color:#9C9C9C;
	padding:5px 20px;}

span{
	color:#F00;}
fieldset{
	border:1px solid #9F9F9F;
	margin:20px 0px;}
table{
	width:100%;}
.returns{
	width:100%;
	text-align:center;}

